        body {
            font-family: Arial;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }

        header {
            font-family: Arial;
            background-color: #333;
            text-align: center;
            padding: 1em;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            color: #ffffff;
        }

        p {
            line-height: 1.6;
            color: #ffffff;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 8px;
        }

        footer {
            text-align: center;
            padding: 1em;
            background-color: #333;
        }

        p{
            color:#000000;
        }

        h1{
            color:#ffffff;
        }

        h6{
            color:#ffffff;
        }