        body {
            font-family: Arial;
            margin: 0;
            padding: 0;
        }

        header {
            font-family: Arial;
            text-align: center;
            padding: 1em;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
        }

        p {
            line-height: 1.6;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 8px;
        }

        footer {
            text-align: center;
            padding: 1em;
        }

        h1{
            color:#ffffff;
        }

        h4{
            color:#ffffff;
        }